.kaufman {
  box-sizing: border-box;
  padding: 90px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
  background: #1f1f1f url('../../images/kaufman-triangle.svg') no-repeat right -210px top / 877px 877px;
  color: white;
  z-index: 0;
}
